<% if @comments.nil? %>
  <p>You haven't made any comments.</p>
<% else %>
  <% @comments.each do |comment| %>
    <div>You commented on <%= comment.article.title%></div>
    <div>You said <%= comment.content %></div>
  <% end %>
<% end %>
